<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="com.tencent.tgclub" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.gamehelper.smoba" />
        <package android:name="com.ss.android.lark" />
    </queries>

<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AutoClickApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomModuleTheme">

        <activity
            android:name=".AllPermissionActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".accessibility.AutoClickFloatAccessService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:label="AShoot辅助点击方案"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!--注册截屏需要用到的前台服务-->
        <service
            android:name=".screen.ScreenDetectService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>

        <!-- 静态注册广播接收器 -->
        <receiver
            android:name=".activities.autofs.AlarmReceiver"
            android:enabled="true"
            android:exported="false"> <!-- 非公开接收器，避免被外部调用 -->
            <intent-filter>
                <!-- 自定义Action（可选） -->
                <action android:name="com.autoStartFs.ACTION_ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>