*.iml
*.jks
.kotlin/
.gradle
/local.properties
/.idea
.DS_Store
/build
ClassNameAnnotations/build/
ClassNameAnnotations-compiler/build/
ClassNameAnnotations-ksp/build/
/captures
/jsbridge
.externalNativeBuild
Module-Native/.cxx/*
.scannerwork/
local.properties