<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- This entry makes ExampleLoggerInitializer discoverable. -->
            <meta-data
                android:name="com.au.module_android.init.FirstInitial"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="com.au.module_android.base.FragmentRootActivity"
            android:configChanges="screenSize|keyboard|orientation|keyboardHidden|fontScale|locale|screenLayout|uiMode|navigation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.au.module_android.base.NormalViewActivity"
            android:configChanges="screenSize|keyboard|orientation|keyboardHidden|fontScale|locale|screenLayout|uiMode|navigation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />
    </application>
</manifest>