<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="com.au.module_android.ui.FragmentRootActivity"
            android:configChanges="screenSize|keyboard|orientation|keyboardHidden|fontScale|locale|screenLayout|navigation|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.au.module_android.ui.FragmentRootOrientationActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|fontScale|locale|screenLayout|navigation|uiMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".ui.CrashActivity"
            android:exported="false"/>

    </application>
</manifest>